 <div class="contact-analytics">
      
      
        <div class="table-outer-wrapper" ng-if="!fetchingData">
          <div class="table-inner-wrapper">
             <table class="table" cellspacing="0" cellpadding="0" >
              <thead>
                <tr>
                   
                        <th *ngFor="let column of columns ; let i = index" class="table-cell">{{column}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of rows  ; let j = index">
                  <td *ngFor="let col of row">
                    
                    <p *ngIf="col.name" >
                      <a href="{{col.contact_page_url}}"  >
                        {{col.name}} ({{col.read_contents.length}} <span class="highlight">of {{col.sent_contents.length}}</span>)
                      </a>
                    </p>
                   
                    <p class="contact-url" *ngIf="col.contact_page_url">
                      <a href="{{col.contact_page_url}}" target="_blank" title="Open this Contact">
                        <i class="fa fa-external-link"></i>
                      </a>
                    </p>
                  </td>
                </tr> 
             </tbody>
            </table> 
          </div>
        </div> 
        <!-- <contact-analytics-details-modal-directive selected-contact="selectedContact" ng-if="showContactDetails"></contact-analytics-details-modal-directive> -->
      </div>
    