<router-outlet></router-outlet>
<div class="mt-5" >
<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab" href="#engagement" id="engagement" (click)="checkActiveStage(1)">Engagement</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#contacts" id="contacts" (click)="checkActiveStage(2)">Contacts</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#content" id="content" (click)="checkActiveStage(3)">Content</a>
	</li>

</ul>

<!-- Tab panes -->
<div class="tab-content">
<div class="tab-pane active" id="engagement">
<app-analytics-engagement ></app-analytics-engagement>
</div>
<div class="tab-pane  fade" id="contacts">
<app-analytics-contacts ></app-analytics-contacts>
</div>
<div class="tab-pane  fade" id="content">
<app-analytics-content></app-analytics-content>
</div>
</div>
