.article-search-view {
    .widget-title {
      .input-wrapper {
        margin-right: auto;
        margin-top: 0;
        flex: 0 0 65%;
  
        .input-text {
          font-size: 12px;
        }
  
        a.button {
          line-height: 18px;
          padding: 8px 40px;
        }
      }
    }
  }